.container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.sidebar {
  width: 100px;
  padding: 5px;
  position: fixed;
  left: 0;
  border: 0;
  height: 100vh;
  border-right: 4px solid gray;
}


.sidebar ul {
  list-style-type: none;
  margin: 0px;
}

.sidebar a {
  text-decoration: none;
}

.sidebar li {
  padding: 5px;
  transition: background-color 1s;
}
.sidebar li:hover {
  background-color: cornflowerblue;
}

main.main {
  width: 80%;
  padding: 10px;
  margin-left:100px
}